Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [1]:
s="Suvait"
type(s)

str

In [2]:
l=[1,2,3,'Suvajit', 3-2j]
type(l)

list

In [3]:
f= 2.45
type(f)

float

In [4]:
t= (3,4,5)
type(t)

tuple

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1.  
What will be the data type of the above given variable.

ANSWER-
(i) var1 is a char type data
(ii) var2 is a string type data
(iii) var3 is a list type data
(iv) var4 is int type data

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [5]:
# '/' is divider operator 
2/3

0.6666666666666666

In [6]:
# '%' is a modulo operator
7%4

3

In [7]:
# '//' is floor division
7//4

1

In [8]:
# '**' is power operator
2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
l = [1, 2.5, 'c', True, "Suvajit", 3+5j, [1,3,5], (1,2,3), {0,5,10}, -1]
for i in l :
    print(i," and its type is ",type(i))

1  and its type is  <class 'int'>
2.5  and its type is  <class 'float'>
c  and its type is  <class 'str'>
True  and its type is  <class 'bool'>
Suvajit  and its type is  <class 'str'>
(3+5j)  and its type is  <class 'complex'>
[1, 3, 5]  and its type is  <class 'list'>
(1, 2, 3)  and its type is  <class 'tuple'>
{0, 10, 5}  and its type is  <class 'set'>
-1  and its type is  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [32]:
A = 15
B = 5
i=0
while A>0 :
    if A < B :
        break
    A=A-B
    i=i+1
else :
    print("A can be divisible by B by",i,"times.")

A can be divisible by B by 3 times.

In [35]:
A = 17
B = 5
i=0
while A>0 :
    if A < B :
        print('A is not divisible by B.')
        break
    A=A-B
    i=i+1
else :
    print("A can be divisible by B by",i,"times.")

A is not divisible by B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [39]:
l=range(1,26)
for i in l :
    if i%3 == 0 :
        print(i,"is divisivle by 3")
    else :
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisivle by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisivle by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisivle by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisivle by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisivle by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisivle by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisivle by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisivle by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans : 
Mutable objects are those that can be changed after they are created, like lists or dictionaries. 
Immutable objects, on the other hand, cannot be changed after they are created, such as strings, integers, or tuples.

In [40]:
# mutable object
l=[1,2,3,4,5]
print(l)

l[2] = 0 # index at 2 will change from 3 to 0
print(l)

[1, 2, 3, 4, 5]
[1, 2, 0, 4, 5]

In [43]:
# immutable object
s = "Suvajit"
print(s)

s[2] = 'r' # gives an error as s is a mutable object

Suvajit

TypeError: 'str' object does not support item assignment